<link rel="stylesheet" type="text/css" href="home.css">
<style>
    .active{
        color:green;
        font-weight: 18px;
    }
</style>
<header>
    <nav>
        <a href="/" class="{{#if home}} active {{/if}}">Home</a> 
        <a href="/saved" class="{{#if saved }} active {{/if}}">Saved</a>
    </nav>
</header>