<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="" type="home/css"/>
    <title>Document</title>
    <script src="https://code.jquery.com/jquery.js"></script>
  

</head>

<body id="body">

    <style>
body{
    background-image: url("../public/assets/background.png")
}
.title{
    position: relative;
    left:900px;
}
.titleEntry{
    left:900px;
     position: absolute;
}
.textBody{
    position: absolute;
    height:200px;
    width: 400px;
    top: 200px;
    left:900px;
}
#savenote{
    position: relative;
    top: 320px;
    left:900px;
    width:100px;
    height:20px;
}
    </style>

    {{{body}}}
</body>

</html>