<h1>Youtube</h1>


<ul>
    {{#each data}}
    {{!-- {{#if trade}} --}}
    <li>
        {{data.text}}
    </li>
    {{!-- {{/if }} --}}
    {{/each}}
</ul>

<p class= "databaseInformation">

<script type="text/javascript">

$(".databaseInformation").empty();

    $.getJSON("/articles", function(data){
        
        for( var i = 0; i < data.length; i++){

            $(".databaseInformation").append("data-attr" + data[i]._id +"<li>" + data[i].text + "</li>"  + "<li>" +`<a href='youtube.com${data[i].link}'>` + "Watch on Youtube!"+"</li>" );
        }
    });

$("p").on("click",function(req,res){
    console.log("I'm going to make a form!")
})
</script>