.container{
    border: 2px solid black;
    width:33.3%;
    margin: 0 auto;
    
    text-align: center;
}
#body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#text{
    font-size: 19px;
    font-weight: bold;
    font-family: sans-serif;
}